extends layout

block head
  != js('controls')
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
  style
    body { text-align: center; margin: 100px 0 }
    button { width: 80%; font-size: 30pt }

block body
  button#toggle pause?
