!!! 5
html(lang='en')
  head
    title The world of Lumosity
    link(rel="stylesheet", href="map.css")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
    script(src="/nowjs/now.js")
    block head
  body
    block body
