!!! 5
html(lang='en')
  head
    link(rel="stylesheet", href="map.css")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
    script(src="/nowjs/now.js")
    script(src="/d3.v2.min.js")
    != js('map')
    title The world of Lumosity
  body
    != body
