body {
  margin: 0;
  background: #f3f1f1;
}

#map {
  background: #EEEEEE;  
  width: 100%;
}

#map svg {
  pointer-events: all;
  margin: 0;
}

#globe-background {
  fill: #2A2A2A;
  stroke: #fff;
  stroke-width: 0.25px;
}

path {
  fill: #4682B4;
  stroke: #fff;
}

#countries path {
  stroke-width: 0.25px;
}

#states path {
  stroke-width: 0.25px;
  fill: none;
}

#events path {
  fill: #F79306;
  stroke: #F79306;
}
