body {
  margin: 0;
  background: #f3f1f1;
}

#map {
  background: #f26437;  
  width: 67%;
}

#map svg {
  pointer-events: all;
  margin: 0;
}

#globe-background {
  fill: #73ccd1; /*#299bd3;*/
  stroke: #fff;
  stroke-width: 6px;
}

path {
  fill: #fff;
  stroke: #fff;
}

#countries path {
  stroke-width: 1px;
}

#states path {
  stroke-width: 0.25px;
  fill: none;
}

#lumoslabs {
  fill: #f00;
}

#events path {
  fill: none;
  stroke: none;
}

#events path.event.game_finish {
  fill: #2D64FA;
}

#events path.event.purchase_subscription {
  fill: #91ca6e;
  stroke: #91ca6e;
  stroke-width: 10px;
}

#sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 33%;
  height: 100%;
  margin: 0;
}

#sidebar rect {
  fill: #73ccd1;
}

#sidebar text {
  font-family: 'PT Sans', sans-serif;
  fill: #37605F;
}

#sidebar text.area-title {
  fill: #f26437;
}

#sidebar #footnote {
  font-family: 'PT Sans', sans-serif;
  font-size: 0.8em;
  right: 50px;
  bottom: 10px;
  position: absolute;
  color: #7e8082;
}
