body {
  margin: 0;
}

svg {
  width: 1280px;
  height: 800px;
  pointer-events: all;
}

#globe-background {
  fill: #aee0f3; /*#dbe4f0;*/
}

path {
  fill: #aaa;
  stroke: #fff;
}

#countries path {
  stroke-width: 1px;
}

#states path {
  stroke-width: 0.25px;
  fill: none;
}

#lumoslabs {
  fill: #f00;
}

#controls {
  position: absolute;
  right: 5px;
  top: 5px;
}